/* This file contains all paging formatting and some styling; most styling is done with bootstrap */

/* Global wrappers/buttons */
body {
	padding-left: 10px;
	padding-top: 10px;
	background: url('img/pokeball.png') no-repeat center;
}
#body_container {
	width: 1121px;
	margin-left:auto;
    margin-right:auto;
}
#heading_wrapper {
	width:1100px; 
	height:75px;
}
#body_wrapper {
	width:1120px; 
	height:425px;
	position: relative;
}
#player_wrapper { 
	float: left;
	width:600px; 
	height:410px; 
}
#dive {
	height: 15px;
	border-bottom: 1px solid black;
}
#ddive {
	height: 18px;
}
/*********************************************************/

/*Textarea formatting*/
#textarea_wrapper { 
	float: right;
	width:455px; 
	height:405px; 
	font-size: 14px;
	font-family: arial, sans-serif;
	overflow: auto;
	padding-left: 5px;
	padding-top: 5px;
	margin-left: 15px;
}
#textarea_wrapper > ul { /*Text Area*/
	list-style-type: none;
	position: relative;
	margin-left:5px;
}
#intro {
	font-size: 30px;
}
.p1t {
	color: blue;
}
.p2t {
	color: red;
}
.p3t {
    color: black;
}
/****************************************************/

/*Header pics/divs */
.extra_wrapper {
	width: 125px;
	height: 75px;
	display: inline-block;
	position: relative;
	margin-left: 6px;
	z-index: 2;
}
.random_wrapper {
	width: 125px;
	height: 75px;
	display: inline-block;
	position: relative;
	margin-left: 6px;
	z-index: 2;
}
.head_pic {
	width: 124px;
	height: 74px;
	position: absolute;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 74px;
	z-index: 3;
	font-size: 18px;
}
.bg_pic {
	width: 124px;
	height: 74px;
	position: absolute;
	background-size: 124px 74px;
	border-radius: 10px;
	z-index: 1;
}
.hpic {
	visibility: hidden;
}
.over {
	visibility: visible;
}
/****************************************************/

/*General Player Formatting*/
.player_pic {
	width:238px; 
	height:188px; 
	background-size: 238px 188px;
	background-repeat: no-repeat;
}
.p_wrapper {
	width: 599px;
	height: 199px;
}
.player_info {
	width:324px; 
	height:174px;
}
.player_info > span { /*Player Name and Health */
	position: relative;
	margin-left: 5px;
	font-size:20px; 
	font-family:Impact;
}
.button_wrapper {
	width:319px; 
	height:115px;
}
.button_wrapper > div { /*Player's Button*/
	display: inline-block;
	position: relative;
	width:148px; 
	height:40px; 
	text-align: center;
	vertical-align: middle;
	line-height: 70px;
	font-size:20px; 
	font-family:Impact;
	margin-top:2px;
	padding-left: 6px;
}
.bar_div {
	width: 100%;
	height: 10px;
}
.progress-wrapper {
	position: relative;
}
.progress {
    position: relative;
    border: 1px solid black;
    color: black;
}
.progress span, .bar_val {
    position: absolute;
    top: 0;
    z-index: 50;
    color: black;
    text-align: center;
    width: 100%;
}
/*****************************************************/

/*Player 1 wrapper/style*/
#p1_pic { 
	float: left;
}
#p1_info { 
	float: right;
}
#p1_b2 { 
	margin-left: 4px;
}
#p1_b3 { 
	margin-top: 10px;
}
#p1_b4 {
	margin-top: 10px;
	margin-left: 4px;
}
/************************************************************/

/*Player 2 wrapper/style*/
#p2_wrapper {
	position: relative;
}
#p2_pic { 
	float: right;
}
#p2_info { 
	float: left;
}
#p2_b2 { 
	margin-left: 4px;
}
#p2_b3 { 
	margin-top: 10px;
}
#p2_b4 {
	margin-top: 10px;
	margin-left: 4px;
}
/************************************************************/

/*Testing*/
.p_name{
	display: block;
}
.pName {
	display: inline-block;
	width: 50%;
	margin: 0px auto;
  	text-align: center;
}
/************************************************************/

/*Footer Formatting*/

#footer_wrapper {
    width: 99%;
    overflow:hidden;
    line-height: 10px;
    padding-bottom: 10px;
}
#signature {
    display: inline-block;
    font-size: 9px;
    color: #BDBDBD;
}
#footer_wrapper button,
#footer_wrapper a {
    float: right;
    margin-left: 10px;
}
.accordion-group a {
    font-size: 20px;
}
.accordion-inner p {
    margin-left: 25px;
}
.line-one {
    display:inline-block;
    margin-right: 10px;
}
.line-two {
    display:block;
}

/*Modal Formatting*/
.modal {
	font-family: arial, sans-serif;
}

#move-list-modal-body {
	overflow-y: scroll;
}
#poke-fans {
    text-align: center;
}
#sorry {
    text-align: center;
}

/************************************************************/
/*Settings Formatting*/

#setModal {
	font-family: Arial, sans-serif;
}
